.singleComment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.7em;
    padding: 0.7em;
    background-color: #fff;
    font-size: 0.8em;
    border-radius: 5px;
}

.singleCommentHead {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
}

.singleCommentHead>img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    object-fit: cover;
}

.singleCommentHead>p {
    color: #313131;
}

.singleComment>span {
    font-size: 0.7em;
    color: #313131;
    justify-self: end;
}

.commentText {
    width: 100%;
    color: #414141;
    text-align: left;
    word-wrap: break-word;
}